@font-face {
  font-family: "ABChanelCorpoRegular";
  src: local("ABChanelCorpoRegular"),
    url(/Users/ricard/Documents/modelsManagementSystem/modelsagencyms-client/src/fonts/ABChanelCorpoRegular.ttf)
      format("truetype");
}

.navBarLinks,
.navBarLinks:hover,
.navBarLinks:focus,
.navBarLinks:active {
  text-decoration: none;
  color: inherit;
}

.navContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 5vh;
  font-family: ABChanelCorpoRegular;
}

.navLinks {
  display: flex;
  justify-content: space-between;
  width: 80%;
  max-width: 1050px;
}
