@font-face {
  font-family: "ABChanelCorpoRegular";
  src: local("ABChanelCorpoRegular"),
    url(/Users/ricard/Documents/modelsManagementSystem/modelsagencyms-client/src/fonts/ABChanelCorpoRegular.ttf)
      format("truetype");
}

.navBarLinks,
.navBarLinks:hover,
.navBarLinks:focus,
.navBarLinks:active {
  text-decoration: none;
  color: inherit;
}

.navContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 8vh;
  font-family: ABChanelCorpoRegular;
  margin-bottom: 0.1%;
}

.navBarLogoSection {
  width: auto;
  font-size: 1.4rem;
}

.navBarSections {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 65%;
  font-size: 0.9rem;
}
.navBarLogo {
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 1050px;
}

.navBarLogo,
.navBarLogo:hover,
.navBarLogo:focus,
.navBarLogo:active {
  text-decoration: none;
  color: inherit;
}

.allNavContent {
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 1100px;
  border-bottom: 1px solid black;
}

.navBarLinks:hover {
  border-bottom: 1px solid black;
}
