@font-face {
  font-family: "ABChanelCorpoRegular";
  src: local("ABChanelCorpoRegular"),
    url(/Users/ricard/Documents/modelsManagementSystem/modelsagencyms-client/src/fonts/ABChanelCorpoRegular.ttf)
      format("truetype");
}

.splashScreenContainer {
  height: 100vh;
  width: 100vw;
}

.splashScreenLogo {
  top: 45%;
  left: 50%;
  position: fixed;
  transform: translate(-50%, -50%);

  color: black;
  background: white;
  font-family: ABChanelCorpoRegular, Helvetica, sans-serif;
  font-size: 30px;
}
